.fa-solid.fa-image-portrait {
    padding: 10px;
    color: var(--clr-accent);
    font-size: 1.8rem;
}

/* User Activity Log */
.user-activity-log-block {
    width: 1300px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/* Table */
.table-block {
    width: 100%;
    margin-bottom: 50px;
}