.fa-solid.fa-house {
    padding: 10px;
    color: var(--clr-accent);
    font-size: 1.8rem;
}

/* Create Post */
.create-post-container {
    width: 750px;
    margin-top: 150px;
}

.post-form {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 25px;
    border-style: none;
}  
  
.character-count {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--clr-accent);
}
  
.topic-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
  
.topic-input {
    width: 100%;
    border-radius: 15px;
    border-style: none;
    background-color: var(--clr-accent-light);
}
  
.content-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
  
.content-input {
    width: 100%;   
    border-radius: 20px;
    border-style: none; 
    background-color: var(--clr-accent-light);
    resize: none;
}
  
.button-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
  
.cancel-button {
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: var(--clr-accent);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-align: center;
}

.cancel-button:hover {
    background-color: var(--clr-button-hover);
    color: var(--clr-accent-light); 
}
  
.submit-button {
    width: 150px;
    border-radius: 15px;
}

/* All Posts */
.post-block {
    width: 750px;
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.heading {
    width: 100%;
    margin-bottom: 25px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-post-button {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px;
    border-width: 0;
    background-color: var(--clr-accent);
    color: var(--clr-light); 
}

.post-container {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    background-color: var(--clr-accent-light);
}

.section1-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-username {
    font-weight: var(--fw-bold);
}

.post-content {
    word-wrap: break-word;
}

.create-comment-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-solid.fa-ellipsis {
    font-size: 1.5rem;
    color: var(--clr-accent-light2);
    cursor: pointer;
}

.fa-solid.fa-ellipsis:hover {
    color: var(--clr-accent);
}

.fa-solid.fa-message {
    font-size: 1.25rem;
    color: var(--clr-accent-light2);
    cursor: pointer;
}

.fa-solid.fa-message:hover {
    color: var(--clr-accent);
}

/* Edit Post */
.edit-post-container {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    background-color: var(--clr-accent-light);
}

.edit-topic-input {
    width: 100%;
    border-radius: 15px;
    border-style: none;
    background-color: var(--clr-light);
}

.edit-content-input {
    width: 100%;   
    border-radius: 20px;
    border-style: none; 
    background-color: var(--clr-light);
    resize: none;
}


/* Comments */
.comments-block {
    width: 100%;
    margin-top: 20px;
}

.comment-form-container {
    border-color: var(--clr-light);
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

.comment-form {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}  

.comment-input {
    width: 80%;
    border-color: var(--clr-accent-light2);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    resize: none;
}

.comment-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: var(--clr-accent-light2);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.section1-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-username {
    font-weight: var(--fw-bold);
}

.comment-content {
    margin: 0px;
    word-wrap: break-word;
}