:root {
    --clr-light: #FFFFFF;
    --clr-dark: #241C4F;
    --clr-accent: #8C52FF;
    --clr-accent-light: #F1F1F1;
    --clr-accent-light2: #A6A6A6;
    --clr-accent-dark: #737373;
    --clr-button: #8C52FF;
    --clr-button-hover: #5B30B2;
    --ff-body: "Open Sans", sans-serif;    
    --fw-reg: 400;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--clr-dark);
    font-family: var(--ff-body);
    font-size: 16px;
}

/* General */
a {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
}

a:hover {
    color: var(--clr-accent);
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

button:hover {
    background-color: var(--clr-button-hover);
}

h5 {
    font-weight: var(--fw-bold);
}

h4 {
    font-weight: var(--fw-bold);
}

input[type="submit"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 0;
    background-color: var(--clr-accent);
    font-weight: var(--fw-bold);
    color: var(--clr-light); 
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--clr-button-hover);
    color: var(--clr-accent-light); 
}


/* Navigation Bar */
nav {
    padding-top: 30px;
    padding-bottom: 30px;
}

.greetings-container {
    width: 150px;
    font-weight: bold;
}

nav ul {
    width: 500px;
}

.fa-solid.fa-house {
    padding: 10px;
    color: var(--clr-accent);
    font-size: 1.8rem;
}

.fa-solid.fa-user, .fa-solid.fa-gear {
    padding: 10px;
    color: var(--clr-accent-light2);
    font-size: 1.8rem;
}

.fa-solid.fa-house:hover, .fa-solid.fa-user:hover, .fa-solid.fa-gear:hover {
    color: var(--clr-accent);
}

.logout-container {
    width: 150px;
    text-align: end;
}

/* Create Post */
.create-post-container {
    width: 750px;
    margin-top: 150px;
}

.post-form {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border-color: var(--clr-light);
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}  
  
.character-count {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--clr-accent);
}
  
.topic-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
  
.topic-input {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid var(--clr-light);
    background-color: var(--clr-accent-light);
}
  
.content-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
  
.content-input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid var(--clr-light);
    background-color: var(--clr-accent-light);
    resize: none;
}
  
.button-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
  
.cancel-button {
    width: 150px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-accent);
    background-color: var(--clr-light);   
    color: var(--clr-accent); 
    font-weight: var(--fw-bold);
}

.cancel-button:hover {
    color: var(--clr-accent-light); 
}
  
.submit-button {
    width: 150px;
    border-radius: 15px;
}

/* All Posts */
.post-block {
    width: 750px;
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.heading {
    width: 100%;
    margin-bottom: 25px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-post-button {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px;
    border-width: 0;
    background-color: var(--clr-accent);
    color: var(--clr-light); 
}

.post-container {
    width: 100%;
    padding: 26px;
    border-radius: 20px;
    background-color: var(--clr-accent-light);
}

.section1-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-content {
    word-wrap: break-word;
}

.create-comment-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-solid.fa-comment-dots {
    font-size: 1.5rem;
    color: var(--clr-accent-dark);
    cursor: pointer;
}

.fa-solid.fa-comment-dots:hover {
    color: var(--clr-accent);
}


/* Comments */
.comments-block {
    width: 100%;
    margin-top: 20px;
}

.comment-form-container {
    border-color: var(--clr-light);
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

.comment-form {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}  

.comment-input {
    width: 80%;
    padding: 10px;
    border-color: var(--clr-accent-light2);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    resize: none;
}

.comments-container {
    width: 100%;
    padding: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: var(--clr-accent-light2);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.section1-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-username {
    font-weight: var(--fw-bold);
}

.fa-solid.fa-ellipsis {
    font-size: 1.5rem;
    color: var(--clr-accent-dark);
    cursor: pointer;
}

.fa-solid.fa-ellipsis:hover {
    color: var(--clr-accent);
}

.comment-content {
    margin: 0px;
}

@media (max-width: 1200px) {
    nav {
        
    }
}