:root {
    --clr-light: #FFFFFF;
    --clr-dark: #241C4F;
    --clr-accent: #8C52FF;
    --clr-accent-light: #F1F1F1;
    --clr-accent-light2: #A6A6A6;
    --clr-accent-dark: #737373;
    --clr-button: #8C52FF;
    --clr-button-hover: #5B30B2;
    --ff-body: "Open Sans", sans-serif;    
    --fw-reg: 400;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--clr-dark);
    font-family: var(--ff-body);
    font-size: 16px;
}


/* General */
a {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
}

a:hover {
    color: var(--clr-accent);
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

button:hover {
    background-color: var(--clr-button-hover);
}

h3 {
    font-weight: var(--fw-bold);
}

h4 {
    font-weight: var(--fw-bold);
}

h5 {
    font-weight: var(--fw-bold);
}

input[type="text"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="password"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="submit"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: var(--clr-button);
    border-style: solid;
    background-color: var(--clr-button);
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    cursor: pointer;
}

input[type="submit"]:hover {
    border-color: var(--clr-button-hover);
    background-color: var(--clr-button-hover);
    color: var(--clr-accent-light); 
}


/* Navigation Bar */
nav {
    padding-top: 30px;
    padding-bottom: 30px;
}

.greetings-container {
    width: 300px;
}

.greetings {
    font-weight: bold;
}

nav ul {
    width: 500px;
}

.fa-solid.fa-house, .fa-solid.fa-user, .fa-solid.fa-gear {
    padding: 10px;
    color: var(--clr-accent-light2);
    font-size: 1.8rem;
}

.fa-solid.fa-house:hover, .fa-solid.fa-user:hover, .fa-solid.fa-gear:hover {
    color: var(--clr-accent);
}

.logout-container {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.logout-button {
    padding: 0px;
    background-color: var(--clr-light);
    border-style: none;
    text-align: end; 
}

.logout-button:hover {
    background-color: var(--clr-light);
    color: var(--clr-accent);
}


/* Status Message */
.status-message {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin: 0;
}


/* Settings and comments toggler */
.fa-solid.fa-ellipsis {
    font-size: 1.5rem;
    color: var(--clr-accent-light2);
    cursor: pointer;
}

.fa-solid.fa-message {
    font-size: 1.25rem;
    color: var(--clr-accent-light2);
    cursor: pointer;
}

.fa-solid.fa-ellipsis:hover, .fa-solid.fa-message:hover {
    color: var(--clr-accent);
}

/* Media Screens */
@media (max-width: 1200px) {
    .greetings-container, .logout-container {
        display: none;
    }  
}